.mode1v3
**/build/
*.pbxuser
.DS_Store
docs/
*.xcworkspace/
xcuserdata*/
*.orig
.idea/
**/iosglobomediaplayer/*
Pods/
.bundle/
appium.log
instrumentscli0.trace/
nohup.out
DerivedData/
node_modules/
test-result.xml
test/reports/
appium.pid
